.Container {
  width: 67%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}

.col1 {
  display: flex;
  flex-direction: column;
  min-width: 47%;
}

.col2 {
  display: flex;
  flex-direction: column;
  min-width: 47%;
}

.loading {
  position: fixed;
  left: 50%;
  top: 50%;
}

.buyButton {
  display: flex;
  justify-content: center;
}

.about {
  cursor: pointer;
}

.about:hover {
  background-color: aqua;
}
