.QuantityField {
  display: flex;
  justify-content: center;
}

.label {
  text-align: center;
  flex-grow: 1;
  align-items: center;
}

.inputfield {
  flex-grow: 1.5;
}

.price {
  text-align: start;
  flex-grow: 1.5;
  align-items: center;
}
